* {
/* border: 1px solid black; */
padding: 0;
margin: 0;
font-family: Alata;
color: #2c514c;
}

body {
    background-color: #fff3eb;
}

#logo {
    height: 100px;
    width: 100px;
    display: inline-block;
}

#top {
    height: 100px;
    padding: 25px;
    background-color: #cad2df;
}

#top_text {
    display: inline-block;
    margin-left: 15px;
    position: relative;
    top: -30px;
}

#tagline {
    margin-top: -10px;
    font-size: 18px;
}

nav {
    height: 50px;
    background-color: #8e9aaf;
    position: sticky;
    top: 0px;
}

nav a {
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: 14px;
    transition: all 0.4s ease;
  }
  
nav a:hover {
    letter-spacing: 3px;
    color: #cad2df;
    transition: all 0.4s ease;
  }
  
#main {
    padding: 30px;
  }

button {
    float: right;
    width: 100px;
    height: 40px;
    font-size: larger;
}

h1 a {
    text-decoration: none;
}


